#gif, #cascada, #indepth, #video, #campaña, #blog, #disfraz {
	display: none;
}

#page {
	width: 100%;
	background-color: #f7f7f7;
}

#header {
	background: url('../images/postales/Portada_postales.jpg');
	width: 100%;
	height: 245px;
	position: relative;
}

#title {
	width: 300px;
	height: 35px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#main {
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #8fb532;
}

#main_inner {
	width: 845px;
	height: 17px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.item {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px solid #fff;
	font-size: 14px;
	color: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

.disable {
	font-weight: 400;
	color: #f7f7f7;
}

.enable {
	font-weight: 700;
	color: #4e6c05;
}

#postales {
	padding-left: 0px;
	width: 69px;
}

#gifs {
	width: 31px;
}

#infografias {
	width: 94px;
}

#indepths {
	width: 70px;
}

#videos {
	width: 51px;
}

#campañas {
	width: 79px;
}

#blogs {
	width: 39px;
	border: none;
	padding-right: 0px;
}

#disfraces {
	width: 103px;
}

#content {
	width: 100%;
	margin-top: 50px;
	padding-bottom: 100px;
}

#inner_cont {
	width: 1150px;
	margin: auto;
}

#postal {
	width: 100%;
    height: 1723px;
}

#gif {
	width: 100%;
	height: 2299px;
}

#video {
	width: 100%;
    height: 7951px;
}

#disfraz {
	width: 100%;
    height: 7473px;
}

.big, .small {
	margin-right: 2px;
	margin-bottom: 2px;
	float: left;
}

.big {
	width: 573px;
    height: 573px;
}

.small {
	width: 49.82%;
    height: 49.84%;
}

.pointer {
	cursor: pointer;
}

.der {
	margin-right: 0px;
}

.bajo {
	margin-bottom: 0px;
}

.peque {
	width: 100%;
	height: 100%;
}

.big_inner {
	width: 100%;
	height: 100%;
}

.grande {
	width: 100%;
	height: 100%;
}

.cascada_img {
	width: 400px;
	margin-right: 2px;
	margin-bottom: 2px;
	float: left;
}

.cascada_img img {
	width: 100%;
}

#cascada {
	margin: auto;
	width: 100%;
}

.galery_cont, .column, #cascada {
	margin-bottom: 100px;
}

.article {
	width: 750px;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
}

.art {
	width: 100%;
}

.ver {
	width: 95px;
    position: absolute;
    bottom: -1px;
    right: 0px;
    background-color: #aacd3f;
    border-radius: 3px 0px 0px 0px;
}

.text {
	float: left;
    margin-right: 5px;
    color: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-left: 8px;
}

.flecha {
	float: left;
    position: relative;
    top: 6px;
}

.cuadro {
	background-color: #fff;
	width: 690px;
	margin: auto;
	padding: 50px 60px;
	margin-bottom: 20px;
	border: 1px solid #ebebeb;
	position: relative;
}

.titulo {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: #000000;
	margin-bottom: 20px;
}

.name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	margin-bottom: 10px;
}

.date {
	font-family: 'Open Sans Italic', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #aeb9c0;
	margin-bottom: 40px;
}

.nota {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	margin-bottom: 25px;
	height: 15%;
	overflow: hidden;
}

.seguir {
	width: 110px;
	position: absolute;
	bottom: 20px;
	right: 60px;
	cursor: pointer;
}

.txt {
	float: left;
	margin-right: 8px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #aacd3f;
}

.sigue {
	float: left;
	position: relative;
	top: 3px;
}

.img_referente {
	width: 100%;
	margin-bottom: 30px;
}

.nota p {
	display: none;
}

.nota p:first-child {
	display: block;
}

.img_referente img, .img_referente iframe {
	width: 100%;
}

.ui-loader, .ui-corner-all, .ui-body-a, .ui-loader-default {
	display: none!important;
}

.vid {
	width: 750px;
	height: 390px;
	margin: auto;
	margin-bottom: 30px;
}

.frame {
	width: 100%;
	height: 100%;
	position: relative;
	left: -1px;
}

.frameb {
    width: 100%;
    height: 100%;
    position: relative;
    left: -1px;
}

@media (max-width: 1160px) {
	#inner_cont {
	    width: 850px;
	}

	#postal {
	    height: 1273px;
	}

	#gif {
	    height: 1698px;
	}

	#disfraz {
	    height: 5523px;
	}

	.big {
	    width: 423px;
	    height: 423px;
	}

	.small {
	    width: 49.76%;
	    height: 49.76%;
	}
}

@media (max-width: 860px) {
	#inner_cont {
	    width: 750px;
	}

	#postal {
	    height: 1123px;
	}

	#gif {
	    height: 1498px;
	}

	#disfraz {
	    height: 4873px;
	}

	.big {
	    width: 373px;
	    height: 373px;
	}

	.small {
	    width: 49.71%;
	    height: 49.71%;
	}

	.item {
		padding-left: 15px;
		padding-right: 15px;
	}

	#main_inner {
	    width: 773px;
	}

	.cuadro {
		width: 668px;
		padding: 50px 40px;
	}
}

@media (max-width: 767px) {
	#inner_cont {
	    width: 600px;
	}

	#postal {
	    height: 899px;
	}

	#video {
		height: 6906px;
	}

	#disfraz {
	    height: 4196px;
	}

	.big {
	    width: 298px;
	    height: 298px;
	}

	.small {
	    width: 49.66%;
	    height: 49.66%;
	}

	.item {
	    padding-left: 4px;
	    padding-right: 4px;
	}

	.vid {
		width: 598px;
    	height: 335px;
	}
	
	#main_inner {
	    width: 620px;
	}

	.article {
		width: 100%;
	}

	.cuadro {
		width: 96%;
		padding: 30px 11px;
	}

	.seguir {
		right: 20px;
	}
}

@media (max-width: 620px) {
	#main {
		height: 70px;
	}

	#main_inner {
	    width: 440px;
	    height: 50px;
	}

	.item {
	    padding-left: 15px;
	    padding-right: 15px;
	    margin-bottom: 10px;
	}

	#videos {
	    padding-left: 10px;
	    padding-right: 23px;
	}

	#gifs {
		padding-left: 39px;
		padding-right: 39px;
	}

	#indepths {
		padding-right: 0px;
		padding-left: 35px;
		border: none;
	}

	#blogs {
		padding-left: 33px;
		padding-right: 32px;
	}

	#inner_cont {
	    width: 460px;
	}

	#postal {
	    height: 688px;
	}

	#gif {
	    height: 918px;
	}

	#video {
	    height: 5461px;
	}

	#disfraz {
	    height: 2988px;
	}

	.vid {
	    width: 460px;
	    height: 259px;
	}

	.big {
	    width: 228px;
	    height: 228px;
	}

	.small {
	    width: 49.56%;
	    height: 49.56%;
	}

	#content {
		padding-bottom: 1px;
	}
}

@media (max-width: 480px) {
	#main {
	    height: 100px;
	}
	#main_inner {
	    width: 240px;
	    height: 75px;
	}

	.item {
	    padding-left: 5px;
	    padding-right: 5px;
	}

	#videos {
	    padding-left: 5px;
	    padding-right: 5px;
	}

	#gifs {
		padding-left: 15px;
		padding-right: 15px;
	}

	#indepths {
		padding-right: 4px;
		padding-left: 0px;
		border-right: 1px solid #fff;
	}

	#blogs {
		padding-left: 23px;
		padding-right: 15px;
	}

	#disfraces {
		padding-left: 15px;
	}

	#campañas {
		padding-left: 12px;
		padding-right: 0px;
		border: none;
	}

	#infografias {
		padding-right: 0px;
		border: none;
	}

	#inner_cont {
	    width: 300px;
	}

	#postal {
	    height: 1812px;
	}

	#gif {
	    height: 2414px;
	}

	#cascada {
		width: 300px;
	}

	.cascada_img {
	    width: 300px;
	}

	.vid {
	    width: 300px;
	    height: 169px;
	}

	#video {
	    height: 3750px;
	}

	#disfraz {
	    height: 7850px;
	}

	.big {
	    width: 300px;
	    height: 300px;
	    margin-right: 0px;
	    margin-bottom: 2px;
	}

	.small {
	    width: 49.56%;
	    height: 49.56%;
	}
	.nota {
		height: 24%;
	}
	
}

.fancybox-wrap, .fancybox-desktop, .fancybox-type-image, .fancybox-opened {
	top: 100px!important;
}