.backg {
	background-color: rgba(17,20,27,.8);
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0px;
	display: none;
}

.content {
	width: 900px;
	height: 69%;
	margin: auto;
	margin-top: 100px;
}

.outer {
	width: 900px;
	height: 100%;
	position: relative;
	margin-top: 100px;
	margin: auto;
}

.inner {
	width: 850px;
	float: left;
	position: relative;
	overflow-y: scroll;
    height: 636px;
}

.back {
	width: 60px;
	height: 33%;
	position: relative;
	float: left;
	top: 210px;
	left: 30px;
	z-index: 2;
	cursor: pointer;
}

.ima_back {
	position: absolute;
	top: 80px;
	left: -5px;
}

.individual, .todos {
	width: 50px;
    height: 50px;
    position: relative;
    float: left;
    top: 10px;
    z-index: 2;
    cursor: pointer;
}

.todos {
	right: 0px;
    top: 10px;
    display: none;
}

.ima_indi, .ima_todo {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}

.close {
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
	z-index: 2;
	cursor: pointer;
}

.ima_close {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}

.next {
	width: 60px;
	height: 33%;
	position: relative;
	float: left;
	top: 105px;
	right: 30px;
	z-index: 2;
	cursor: pointer;
}

.ima_next {
	position: absolute;
    right: 0px;
    top: 80px;
}

.image {
	width: 210px;
	height: 210px;
	margin-right: 2px;
	margin-bottom: 2px;
	float: left;
}

.img {
	width: 100%;
	height: 100%;
}

.cont_img_postal {
	width: 100%;
	margin: auto;
}

.img_postal {
   display: block;
   max-width: 100%;
   height: 100%;
   margin: auto;
}

.content_max {
	width: 920px;
}

.inner_max {
	width: 800px;
}

@media (max-width: 1000px) {
	.inner {
		width: 636px;
	}

	.content {
	    width: 686px;
	    height: 100%;
	}

	.outer {
	    width: 686px;
	}

	.content_max {
	    width: 800px;
	}

	.inner_max {
		width: 680px;
		height: 600px;	
	}
}

@media (max-width: 800px) {
	.inner {
		width: 530px;
	}

	.content {
	    width: 580px;
	    height: 100%;
	}

	.outer {
	    width: 580px;
	}

	.content_max {
	    width: 600px;
	}

	.inner_max {
		width: 480px;
		height: 400px;	
	}

	.next {
		top: 20px;
	}

	.back {
		top: 120px;
	}

	.image {
	    width: 174px;
	    height: 174px;
	}
}


@media (max-width: 767px) {
	.image {
	    width: 130px;
	    height: 130px;
	}
}

@media (max-width: 600px) {
	.inner {
		width: 400px;
	}

	.content {
	    width: 450px;
	    height: 100%;
	}

	.outer {
	    width: 450px;
	}

	.content_max {
	    width: 450px;
	}

	.inner_max {
		width: 330px;
		height: 300px;	
	}

	.next {
		height: 25%;
		top: 20px;
	}

	.back {
		height: 25%;
		top: 120px;
	}

	.image {
	    width: 131px;
	    height: 131px;
	}

	.ima_back, .ima_next {
		top: 5px;
	}
}

@media (max-width: 480px) {
	.close {
		top: -40px;
		right: 50px;
	}

	.content_max {
		width: 100%;
		height: none;
	}

	.inner_max {
		width: 100%;
		height: auto;
		float: none;
		margin: auto;
	}

	.cont_img_postal {
		width: 100%;
		height: 60%;
	}

	.close {
	    right: 5px;
	    position: absolute;
	}
}

@media (max-width: 400px) {
	.cont_img_postal {
		width: 100%;
		height: 60%;
	}
}

